{% extends 'base.html' %}

{%block title%} {{title}} {%endblock%}

{% block content %}



<div>
    <a href="{% url 'create_task' %}">Создать задачу</a>

    <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Title</th>
            <th scope="col">Owner</th>
            <th scope="col">Status</th>
            <th scope="col">Created at</th>
            <th scope="col">Url</th>
          </tr>
        </thead>
        <tbody>
    {% for obj in object_list %}
        {% if obj.published or obj.owner.pk == request.user.pk %}
          <tr>
            <th scope="row">{{obj.id}}</th>
            <td>{{obj.title}}</td>
            <td>{{obj.owner}}</td>
            <td>{{obj.status}}</td>
            <td>{{obj.created_at|date}}</td>
            <td><a href="{%url 'task_detail' obj.pk%}">Click!</a> {% if obj.owner_id == request.user.id %}<a href="#">Edit</a> {%endif%}</td>
          </tr>
          {% endif %}
    {% endfor %}
        </tbody>
      </table>

      <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ page_obj.previous_page_number }}">previous</a>
            {% endif %}
    
            <span class="current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
            </span>
    
            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">next</a>
                <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
    </div>

    

{% endblock %}