{%extends 'base.html'%}

{% block content %}



<div>

    <nav class="navbar bg-body-tertiary">
        <div class="container-fluid">

          <form class="d-flex" role="search">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name='search'>
            <button class="btn btn-outline-success" type="submit">Search</button>
          </form>

        </div>
      </nav>

    <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">User name</th>
            <th scope="col">First name</th>
            <th scope="col">Last name</th>
            <th scope="col">email</th>
            <th scope="col">Account</th>
          </tr>
        </thead>
        <tbody>
    {% for obj in object_list %}
          <tr>
            <th scope="row">{{obj.id}}</th>
            <td>{{obj.user.username}}</td>
            <td>{{obj.user.first_name}}</td>
            <td>{{obj.user.last_name}}</td>
            <td>{% if obj.check_email %}{{obj.user.email}}{%else%}Скрыто{%endif%}</td>
            <td>
                <a href="{%url 'profile_view' obj.pk%}">Click!</a>
            </td>
          </tr>
    {% endfor %}
        </tbody>
      </table>

      <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ page_obj.previous_page_number }}">previous</a>
            {% endif %}
    
            <span class="current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
            </span>
    
            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">next</a>
                <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
    </div>

{% endblock %}