{% extends 'base.html' %}

{% block content %}

<div class="container">

    <div class="data-profile col-9">
        <br><h3>Your profile</h3> <br>
        <p><i>Username:</i> {{object.user.username}}</p>
        <p><i>First name:</i> {{object.user.first_name}}</p>
        <p><i>Last name: </i>{{object.user.last_name}}</p>
        <p><i>Email: </i>{{object.user.email}}</p>
        <p><i>Registration</i> {{object.user.date_joined}}</p>
        <form method="POST" class="form-group">
            {% csrf_token %}
            {{ form.as_p }}
        <button type="submit" class="btn btn-success"> Commit </button>
    </form>
    </div>
    <div>
        <div class="data-tasks-profile">
            {% for item in tasks %}
                <h3>{{item.title}}</h3>
                <h5>{{item.owner}}</h5>
                <small>{{item.created_at}}</small> <br>
            {% endfor %}
        </div>
    </div>


</div>
{% endblock %}