{% extends 'base.html' %}

{% block content %}

<div>

    <div>
        <p>Username: {{object.user.username}}</p>
        <p>First name: {{object.user.first_name}}</p>
        <p>Last name: {{object.user.last_name}}</p>
        <p>Email: {{object.user.email}}</p>
        <p>Registration {{object.user.date_joined}}</p>
    </div>
    <div>
        <form method="POST" class="form-group">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-success">
            {% if request.profile.check_email %}Check email
            {% else %}
            Uncheck email
            {%endif%}

        </button>
    </form>
</div>


</div>
{% endblock %}